@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';
.fi-topbar > nav {
    @apply bg-[#e6ebeb] !important;
}
section > .fi-sidebar-header {
    min-height: 15rem;
    @apply bg-[#e6ebeb] !important;
}
section > .fi-sidebar-header > .fi-logo {
    min-height: 15rem;
    width: 100%;
}
.fi-sidebar {
    width: 18% !important;
}
div > .fi-sidebar-header {
    min-height: 6rem;
    @apply bg-[#e6ebeb] justify-center !important;

}
div > .fi-sidebar-header > .fi-logo {
    min-height: 6rem;
    width: 100%;
}
.fi-simple-header-heading {
    @apply hidden !important;
    @apply text-[#1a6121] !important;
}
.fi-sidebar-nav {
    @apply bg-[#e6ebeb] !important;
}
.fi-sidebar-item-icon {
    @apply text-[#1a6121] !important;
}
.fi-sidebar-item-label {
    @apply text-[#1a6121] text-lg !important;
}
.fi-sidebar-item-label
.fi-avatar {
    @apply bg-[#1a6121] !important;
}

.fi-user-avatar {
    @apply bg-[#1a6121] !important;
}
