@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';
.fi-topbar > nav {
    @apply bg-[#06332e] !important;
}
section > .fi-sidebar-header {
    min-height: 15rem;
    @apply bg-[#06332e] !important;
}
section > .fi-sidebar-header > .fi-logo {
    min-height: 15rem;
    width: 100%;
}
.fi-sidebar {
    width: 18% !important;
}
div > .fi-sidebar-header {
    min-height: 6rem;
    @apply bg-[#06332e] justify-center !important;

}
div > .fi-sidebar-header > .fi-logo {
    min-height: 6rem;
    width: 100%;
}
.fi-simple-header-heading {
    @apply hidden !important;
    @apply text-[#e2ab2c] !important;
}
.fi-sidebar-nav {
    @apply bg-[#06332e] !important;
}
.fi-sidebar-item-icon {
    @apply text-[#9a8451] !important;
}
.fi-sidebar-item-label {
    @apply text-[#e2ab2c] text-lg !important;
}
.fi-avatar {
    @apply bg-[#e2ab2c] !important;
}

.fi-user-avatar {
    @apply bg-[#e2ab2c] !important;
}
